[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Eagle PCB Design Software
GenericName=Eagle
Comment=Interactive electronics designing software
Type=Application
Exec=/opt/eagle/eagle-{{eagle_version_full}}/bin/eagle
Icon=/opt/eagle/eagle-{{eagle_version_full}}/bin/eagleicon50.png
Categories=Development

