[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Energia
GenericName=Energia
Comment=Rapid prototyping softare for TI MCUs
Type=Application
Exec=/opt/energia/energia-{{energia_version}}/energia
Icon=/opt/energia/energia-{{energia_version}}/energia_icon.png
Categories=Development
