[user]
	name = Zack Lalanne
	email = zack.lalanne@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
	preloadindex = true
[apply]
	whitespace = nowarn
[difftool]
	prompt = false
[help]
	autocorrect = 1
[magit]
	hideCampaign = true
[credential]
	helper = store
[credential "https://github.com"]
	username = zlalanne
[url "https://github.com/"]
	insteadOf = git://github.com/
[merge]
	guitool = kdiff3
[mergetool]
	keepBackup = false
