[user]
    name = Zack Lalanne
    email = zack.lalanne@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
    preloadindex = true
[apply]
    whitespace = nowarn
[difftool]
    prompt = false
[help]
    autocorrect = 1
[magit]
    hideCampaign = true
[merge]
				guitool = kdiff3
[mergetool]
        keepBackup = false