[Desktop Entry]
Encoding=UTF-8
Name=Eclipse
Comment=Eclipse IDE
Exec=/opt/eclipse/eclipse-java-{{eclipse_version}}/eclipse
Icon=/opt/eclipse/eclipse-java-{{eclipse_version}}/icon.xpm
Categories=Application;Development;Java;IDE
Type=Application
Terminal=0
