[hub]
        protocol = https
[user]
        name = Zack Lalanne
        email = zack.lalanne@ti.com
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
        preloadindex = true
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[credential]
	helper = kwallet

[url "https://github.com/"]
	insteadOf = git://github.com/
[merge]
	guitool = kdiff3
